.telaInteira{
    background-color: #f7f7f7;
    width: 100%;
    height: 100vh;
}
.menuzao{
    display: flex;
    justify-content: space-between;
}
.menu2{
    width: 30%;
}
.container-menu{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: row;
    color: #707070;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;   
    width: 30%;
    padding: 0px 0 0 10%;
}
.home,.account,.logout{
    border: none;
    background: transparent;
    font-weight: bold;
    color: #707070;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.tamTotal{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.tamCinquenta{
    width: 50%;
    
}
.name{
    color: #707070;
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    border-bottom: solid 6px #B5C401;
}
.newBetMegaSena{
    font-family: Helvetica;
    font-size: 24px;
    color: #707070;
    padding: 4% 0 0 25%;
}
.newbet{
    color: #707070;
    font-style: italic;
    font-weight: bold;   
}
.typegame{ 
    color: #707070;
    font-style: italic;
    font-weight: 100;  
}
.choose{
    color: #707070;
    padding: 4% 0 0 25%;
    font-family: Helvetica;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}
.tamCinquenta2{
    width: 50%;

}
.fillBet{
    padding: 2% 0 0 25%;
}
.tittleBet{
    color: #707070;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}
.textBet{
    color: #707070;
    font-size: 14px;
}
.game{
    padding: 2% 0 0 25%;
    display: flex;
    justify-content: flex-start
}
.cfgButton{
    height: 35px;
    margin-right: 10px;
    border-style: solid;
    width: 100px;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    border-radius: 30px;
}
.numbersGamer{
    padding: 2% 0 0 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}
.buttonsNumbers{
    border: none;
    background-color: #ADC0C4;
    width: 35px;
    height: 35px;
    margin: 0 5px 5px 0;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    text-align: center;
}
.functionsButton{
    padding: 2% 0 0 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.complete{
    line-height: 30px;
    height: 35px;
    width: 110px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border-style: solid;
    outline: none;
    color: #27C383;
    border-color: #27C383;
    background-color: #FFF;
}
.complete:active{
    background-color:#27C383;
    color: #FFF;
    border-style: solid;
}
.clear{
    line-height: 30px;
    height: 35px;
    width: 110px;
    font-size: 12px;
    font-weight: bold;
    border-style: solid;
    cursor: pointer;
    border-radius: 10px;
    color: #27C383;
    border-color: #27C383;
    background-color: #FFF;
}
.clear:active{
    background-color:#27C383;
    color: #FFF;
}
.addCart{
    line-height: 30px;
    height: 35px;
    width: 130px;
    font-size: 12px;
    border-style: solid;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    color: #FFF;
    border-color: #27C383;
    background-color: #27C383;
}
.addCart:active{
    background-color: #000;
    border: #000;
}
.cart{
    color: #707070;
    padding: 0 0 0 25px;
    font-size: 25px;
    background-color: transparent;
    font-weight: bold;
}

.container-cart{
    width: 25%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    margin-left: 10%;
    padding: 2% 0 0 0;
    background-color: #FFFFFF;
}
.itemCart{
    width: 100%;
    display: flex;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-text{
    width: 50%;
}
.trash{
    width: 10%;
    padding: 0 10px 0 0;
    background: transparent;
    border-top: none;
    border-bottom: none;
    border-radius: 3px;
    border-left: none;
    border-right: solid;
}
.textNumberSelected{
    font-size: 12px;
    color: #868686;

}
.gameTextStyle{
    font-size: 12px;
    font-weight: bold;
}
.gamePriceTextStyle{
    font-size: 12px;
    color: #868686;
}
.buttonSaveBet{
    width: 100%;
    font-size: 30px;
    border-radius: 0 0 15px 15px;
    background-color: #f4f4f4;
    color: #27C383;
    border: solid 1px #E2E2E2;
    font-weight: bolder;
}
.cartPriceTotal{
    font-size: 24px;
    padding: 15px 0 15px 25px;
    color: #707070;
}
[data-js="carrovazio"]{
    padding: 0px 0 0 25px;
}